{% extends "base.html" %}

{% block title %}
  {{ image.title }}
{% endblock title %}

{% block content %}
  <h1>{{ image.title }}</h1>
  {% load thumbnail %}
  <a href="{{ image.image.url }}">
    <img src="{% thumbnail image.image 300x0 %}"
         class="image-detail"
         alt="{{ image.title }}"
         height=""
         width="">
  </a>
  {% with total_likes=image.users_like.count users_like=image.users_like.all %}
    <div class="image-info">
      <div>
        <span class="count">
          <span class="total">{{ total_likes }}</span>
          like{{ total_likes|pluralize }}
        </span>
        <a href="#"
           data-id="{{ image.id }}"
           data-action="{% if request.user in users_like %} un{% endif %}like"
           class="like button">
          {% if request.user not in users_like %}
            Like
          {% else %}
            Unlike
          {% endif %}
        </a>
      </div>
      {{ image.description|linebreaks }}
    </div>
    <div class="image-likes">
      {% for user in users_like %}
        <div>
          {% if user.profile.photo %}
            <img src="{{ user.profile.photo.url }}"
                 alt="{{ user.first_name }}"
                 height=""
                 width="" />
          {% endif %}
          <p>{{ user.first_name }}</p>
        </div>
      {% empty %}
        Nobody likes this image yet.
      {% endfor %}
    </div>
  {% endwith %}
{% endblock content %}

{% block domready %}
  const url = '{% url "like" %}';
  var options = {
  method: 'POST',
  headers: {'X-CSRFToken': csrftoken},
  mode: 'same-origin'
  }

  document.querySelector('a.like')
  .addEventListener('click', function(e){
  e.preventDefault();
  var likeButton = this;

  // add request body
  var formData = new FormData();
  formData.append('id', likeButton.dataset.id);
  formData.append('action', likeButton.dataset.action);
  options['body'] = formData;

  // send HTTP request
  fetch(url, options)
  .then(response => response.json())
  .then(data => {
  if (data['status'] === 'ok')
  {
  var previousAction = likeButton.dataset.action;

  // toggle button text and data-action
  var action = previousAction === 'like' ? 'unlike' : 'like';
  likeButton.dataset.action = action;
  likeButton.innerHTML = action;

  // update like count
  var likeCount = document.querySelector('span.count .total');
  var totalLikes = parseInt(likeCount.innerHTML);
  likeCount.innerHTML = previousAction === 'like' ? totalLikes + 1 : totalLikes - 1;
  }
  })
  });
{% endblock domready %}
