{% load thumbnail %}

{% for image in images %}
  <div class="image">
    <a href="{{ image.get_absolute_url }}">
      {% thumbnail image.image 300x300 crop="smart" as im %}
      <a href="{{ image.get_absolute_url }}">
        <img src="{{ im.url }}" alt="{{ im.title }}" width="300" height="300">
      </a>
    </a>
    <div class="info">
      <a href="{{ image.get_absolute_url }}" class="title">{{ image.title }}</a>
    </div>
  </div>
{% endfor %}
