{% load thumbnail %}

{% with user=action.user profile=action.user.profile %}
  <div class="action">
    <div class="images">
      {% if profile.photo %}
        {% thumbnail user.profile.photo "80x80" crop="100%" as im %}
        <a href="{{ user.get_absolute_url }}">
          <img src="{{ im.url }}"
               alt="{{ user.get_full_name }}"
               class="item-img"
               height="80"
               width="80">
        </a>
      {% endif %}
      {% if action.target %}
        {% with target=action.target %}
          {% if target.image %}
            {% thumbnail target.image "80x80" crop="100%" as im %}
            <a href="{{ target.get_absolute_url }}">
              <img src="{{ im.url }}"
                   alt="{{ image.title }}"
                   class="item-img"
                   height="80"
                   width="80">
            </a>
          {% endif %}
        {% endwith %}
      {% endif %}
    </div>
    <div class="info">
      <p>
        <span class="date">{{ action.created|timesince }}</span>
        <br />
        <a href="{{ user.get_absolute_url }}">{{ user.first_name }}</a>
        {{ action.verb }}
        {% if action.target %}
          {% with target=action.target %}<a href="{{ target.get_absolute_url }}">{{ target }}</a>{% endwith %}
        {% endif %}
      </p>
    </div>
  </div>
{% endwith %}
